@model Model.Models.CustomerVM

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h1 style="text-align:center;"> Simple Razor Example Login -> @Html.ActionLink("Register", "Register", "Login")</h1> 
    <hr />
    <img src="~/Content/img/srlogo.png" class="img-circle img-responsive" style="margin:0 auto; height:30%;width:20%;" />
  
<div class="row">
        <div class="col-md-3 col-md-offset-4">

            @Html.LabelFor(model => model.Customer.email)
            @Html.TextBoxFor(model => model.Customer.email, new { id = "CustomerEmail", @class = "form-control", placeholder = "Email" })
            <br />
            @Html.LabelFor(model => model.Customer.password)
            @Html.TextBoxFor(model => model.Customer.password, new { id = "CustomerPassword", @class = "form-control", type = "password", placeholder = "Password" })
            <br />

            <input type="submit" value="Login" class="btn btn-primary btn-lg" />
        </div>
   
    </div>
  
}
